.dropdown {
  max-width: 100%;
}
.dropdownContent {
  position: relative;
  max-width: 100%;
}
.inputWrapper {
  position: relative;
  width: 100%;
}
.searchInput {
  padding-right: 25px;
  width: 100%;
  box-sizing: border-box;
}
.dropdownArrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: #666;
  pointer-events: none;
  transition: transform 0.5s ease;
}
.dropdownArrow.open {
  transform: translateY(-50%) rotate(180deg);
}
.dropdownContent input {
  width: 100%;
  box-sizing: border-box;
}
.dropdownOptions {
  position: absolute;
  top: 100%;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}
.dropdownOption {
  cursor: pointer;
  padding: 2px 0;
}
.dropdownOption:hover {
  background-color: #e4f1fb;
  color: #5189ce;
}
